# Dependencies
client/node_modules/
server/node_modules/

# Environment files
client/.env
server/.env

# Build folders
client/dist/
server/dist/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db